
	body {
		font-family: 'Concert One', sans-serif;
		background-color: #f9f7f2;
	}

	.main {
		display: flex;
		flex-direction: column;
		height: 100vh;
		margin: auto;
		width: 30rem;
	}

	.button-group {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: auto;
		margin-bottom: 3vh;
		margin-top: 2vh;
	}

	.images {
		margin-bottom: 1rem;
		text-align: center;
	}

	.links {
		background-color: #eeeeee;
		padding: 0rem 1rem 0rem 1.3rem;
		border-radius: 0.4rem;
	}

	.below {
		text-align: center;
	}

	.stack {
		text-align: center;
		margin-top: 1rem;
	}

	.backTotop {
		margin-top: 2rem;
	}

	h1 {
		margin-top: 0rem;
		margin-bottom: 0.2rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 2.2rem;
		font-weight: 400;
		color: #3d6190;
		text-align: center;
	}

	h2 {
		margin-top: 0rem;
		margin-bottom: 0.2rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		font-weight: 400;
		color: #3d6190;
		text-align: center;
	}
	
	h3 {
		margin-top: 2rem;
		margin-bottom: 0.2rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.5rem;
		font-weight: 400;
		color: #ed6830;
		text-align: center;
	}

	h4 {
		margin-top: 2.5rem;
		margin-bottom: 1.2rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		color: #3d6190;
		text-align: center;
	}

	.links p {
		font-family: 'Inria Sans', sans-serif;
	}

	.below p {
		font-size: 2rem;
		margin-top: 1rem;
	}

	.backTotop p {
		font-size: 1.5rem;
		margin-top: 0px;
	}

	.fas.fa-paperclip.fa-sm, .fab.fa-github , .fab.fa-linkedin-in {
		color: #ff6a00;
	}

	a {
		color: #011936;
		text-decoration: none;
	}

	a.works {
		margin-left: 3rem;
	}

	a:hover {
		color: #465362;
		text-decoration: none;
	}

	.button {
		background-color: #465362;
		border: 0px;
		color:#f3f3f3;
		border-radius: 3rem;
		font-size: 1.3em;
		padding: 0.5rem 1rem 0.4rem 1rem;
	}

	.button:hover {
		border-radius: 0.5rem;
		transition: transform 650ms;
	  }

	.button:not(:hover) {
		transition: transform 650ms;
	  }

	.jacquouillejour, .jacquouillenuit {
		border-radius: 0.4rem;
		width: -webkit-fill-available;
	}

	.stack img {
		height: auto;
		padding: 0rem 0.5rem;
		width: 4vw;
	}

/* ======================================================= */
/* ======================================================= */

	@media all and (max-device-width: 480px) {

		.main {
			height: 100vh;
			justify-content: space-evenly;
			margin: auto;
			width: 90vw;
		}

		.links {
			font-size: 2.5rem;
			margin-left: 0px;
		}

		.button-group {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			width: 93%;
			margin-top: 2vh;
			margin-bottom: 1vh;
		}

		.stack {
			height: 100vh;
			padding-top: 3rem;
		}

		.backTotop {
			margin-bottom: 2rem;
			margin-top: 2rem;
		}

		.button {
	    		font-size: 4em;
			padding: 2rem 3rem;
	  	}

		h1 {
    		font-size: 6em;
   		}

		h2 {
			font-size: 3.5rem;
		}

		h3 {
			font-size: 3rem;
		}

		h4 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		.links p {
			font-size: 2.5rem;
		}

		.below p {
			font-size: 4rem;
		}

		.backTotop p {
			font-size: 2rem;
		}

		.jacquouillejour, .jacquouillenuit {
			width: 100%;
		}

		.stack img {
			height: auto;
			padding: 1rem;
			width: 10vw;
		}
	}
